.menu-btn {
    width:20px;
    height:20px;
    position:absolute;
    top: 37px;
    left:20px;
    display: none;
    z-index: 999;
}

.menu-btn button {
    background-image: url("../img/png/menu.png");
    background-size: 20px 20px;
    height: 20px;
    width: 20px;

}


.drop-list {
    display: block;
    z-index: 998;
    width: 100%;
    margin-bottom: 10px;
    border-top: 1px solid #0B4B5A;
    /*border-right: 1px solid #0B4B5A;*/
    /*border-left: 1px solid #0B4B5A;*/
}



.drop-list li{
    display: flex;
    align-items: center;
    align-content: center;

    width: 100%;

    background-color: #B4BDFF;
    padding-top: 5px;
    border-bottom: 1px solid #0B4B5A;
}

.drop-list li a{
    display: block;
    font-size: 20px;
    color: #fff;
    margin: 10px auto;
}

.drop-list h4 {
    font-weight: 700;
    font-size: 20px;
}

header .divide-li {
    height: 15px;
    background-color: #fff;
}

.first-green-button {
    width:35px;
    height: 35px;
    background-image: url('../img/png/ico/sprite.png');
    background-position: -74px -2px;
    vertical-align: top;
    margin-top: -5px;
    margin-left: 15px;

}

.second-green-button {
    width:35px;
    height: 35px;
    background-image: url('../img/png/ico/sprite.png');
    background-position: -33px -1px;
    vertical-align: top;
    margin-top: -5px;
    margin-right: 12px;
}

.cart {
    display: flex;
    align-items: center;
    align-content: center;
    height: 45px;
}

.cart-mobile {
    margin-right: auto;
    margin-left: auto;
}


